<div class="modal fade" id="modal-error">
  <div class="modal-dialog modal-sm">
    <div class="modal-content-me">
      <div class="modal-header-me">
        <button type="button" class="close modal-error-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="text-danger text-center">
          <p class="text_error bg-danger"></p>
        </div>
      </div>
    </div> <!-- modal content -->
  </div> <!-- modal dialog -->
</div> <!-- modal -->

