<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">
    <link rel="shortcut icon" href="{{request.static_url('reddit:static/pyramid-16x16.png')}}">

    <title>Reddit Pyramid</title>

    <!-- Bootstrap core CSS -->
    <link href="{{request.static_url('reddit:static/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{request.static_url('reddit:static/css/bootstrap.css.map')}}" rel="stylesheet">

    <!-- Custom styles for this scaffold -->
    <link href="{{request.static_url('reddit:static/theme.css')}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="subreddits">
          <ul class="list-inline">
            <li><b>SUBREDDITS:</b> </li>
            {% for name in subreddits %}
            <li>
              <a href="{{ request.route_url('reddit:subreddit:subreddit', subreddit=name) }}">{{ name }}</a>
            </li>
            {% else %}
              {% if request.authenticated_userid %}
              <li>
                <a href="#" data-toggle="modal" data-target="#modal-create-subreddit">Create a new subreddit</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="navit">
          <h1 class="text-center"><b>Reddit Pyramid</b></h1>
        </div>

        <div class="container-fluid">
          <div class="text-right">
            <p>
              {% if request.authenticated_userid %}
              <a href="#" class="logout">Logout of {{ request.user }}</a>
              {% else %}
              <a href="#" data-toggle="modal" data-target="#modal-auth-register">Sign in or create an account</a> in seconds
              {% endif %}
            </p>
          </div>
        </div> <!-- inner container-fluid -->
      </div> <!-- row -->
    </div> <! -- container-fluid -->
    <div class="container">
        <div class="col-lg-10">
          {% block content %} {% endblock %}
        </div>

        <div class="col-lg-2">
          {% include "templates/includes/_right_content.html" %}
        </div>

    </div> <!-- container -->

    {% include "templates/modals/_modal_auth_register.html" %}
    {% include "templates/modals/_modal_error.html" %}
    {% include "templates/modals/_modal_create_subreddit.html" %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ request.static_url('reddit:static/jquery-1.11.2.min.js') }}"></script>
    <!-- <script src="//oss.maxcdn.com/jquery/2.1.3/jquery.min.map"></script> -->
    <script src="{{ request.static_url('reddit:static/js/bootstrap.min.js') }}"></script>
    <script src="{{ request.static_url('reddit:static/js/app.js') }}"></script>
  </body>
</html>

