<h4 class="text-center">
  <b>Sign In</b>
</h4>
<form id="loginForm" action="" method="">
  <div class="form-group">
    {{ loginf.username.label }}
    {{ loginf.username(class='form-control') }}
    <div class="username-login-errors">
      <p class="text-danger"> </p>
    </div>
  </div>

  <div class="form-group">
    {{ loginf.password.label }}
    {{ loginf.password(class='form-control') }}
    <div class="password-login-errors">
      <p class="text-danger"> </p>
    </div>
  </div>

  <div class="row">
    <div class="form-group text-center">
      <div class="col-lg-6">
        <button type="reset" class="btn btn-danger btn-block">Clear</button>
      </div>

      <div class="col-lg-6">
        <button class="btn btn-primary btn-block login">Sign In</button>
      </div>
    </div>
  </div>
</form>
